
@{
    ViewData["Title"] = "Cambio";
}

<h2>Cambio</h2>
<p>Esta es una pagina de prueba para chequear si cuando hagamos push del cambio en GitHub, se realiza automáticamente el deploy de la web en produccion.</p>

